<p id="notice"><%= notice %></p>

<p>
  <%= @product.reference %>
  (CD Number inserted)
  <%= @product.name %>
</p>

<p>
  <%= @product.image %>
</p>
<br>
<p>Color: Blue<br>Embossing: [010] More specific junk about embossing</p><br>
<p>Description:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor neque ipsum, a euismod mauris hendrerit quis. Proin scelerisque leo ac ipsum laoreet, eget venenatis est mattis. Proin mollis felis in justo accumsan, vitae eleifend tellus rhoncus. Nam condimentum dui quis ex pellentesque porta. Cras non porttitor mauris. </p>
<br><p>
  <strong>Price:</strong>
  $<%= @product.price %>
</p>

<p>Add to cart button</p>
